<div class="page-header">
  <h1><%= t(".header", title: @event.title) %></h1>
</div>

<%= render 'form' %>

<%= link_to t("actions.destroy"), @event, method: :delete, data: { confirm: 'Are you sure?' } %>