.page-header
	h1	= t(".header")
.row
  .col-md-1.col-md-offset-11[align="right"]
    = button_to_new(:customer)
.row
    .table-responsive
      table.table.table-bordered.table-hover.table-condensed
        thead
          tr
            th
              = t(".name")
        tbody
          = render(@customers)