.page-header
  h1
    = t(".header")
    |  "
    = @customer.name
    | "
.row
  .col-md-9
    .table-responsive
      table.table.table-bordered.table-hover.table-condensed
        tr
          th
            = t(".name")
          td
            = @customer.name
        tr
          th
            = t(".address")
          td
            = @customer.street
            = @customer.street_number
            br
            = @customer.zipcode
            = @customer.city
            br
            = @customer.country
  .col-md-1
    .btn-group-vertical
      - if can? :update, Customer
        td.button
          = link_to(edit_customer_path) do
            button.btn.btn-warning[type="button"]
              span.glyphicon.glyphicon-wrench
              = t(".edit")
