<!DOCTYPE html>
<html>
<head>
  <title>Club</title>
  <%= stylesheet_link_tag    "club/application", media: "all" %>
  <%= javascript_include_tag "club/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
