| &copy; #{Time.now.year} organizr by 
=link_to("designstudio.sebastian.binder", "http://designstudio.sebastianbinder.com")
|&nbsp;·&nbsp;
=link_to(t(".imprint"), :controller => "indices", :action => "imprint")
|&nbsp;·&nbsp;
= link_to(t(".privacy"), :controller => "indices", :action => "privacy")
|&nbsp;·&nbsp;
= link_to("Hilfe", manuals_path())